html,
body {
    width: 100%;
    height: 100%;
    -ms-overflow-style: none;
}

.ro {
    height: 100vh;
    background-color: #3a2c2b;
}
.circle {
    margin-left: 20px;
    /* display: inline; */
    border-radius: 50%;
    background-color: #3a2c2b;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;
}
.profile_urlImg {
    margin-left: 1rem;
    border-radius: 50%;
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;
}
.hea {
    text-align: center;
    background-color: #3a2c2b;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 3px;
}
.memberName {
    margin-top: 6px;
    width: 80%;
}
.member {
    background-color: #f1ebd6;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
.imgName {
    width: 60%;
    display: flex;
    gap: 20px; /* item1과 item2 사이의 간격 설정 */
}
.svg-inline--fa {
    width: 25px;
    height: 25px;
}
.profileBox {
    display: flex;
}

.paperPlane {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    margin-bottom: 50px;
}

.cam {
    width: 35px;
    height: 35px;
    margin-bottom: 30px;
}

.btn_close {
    border: 2px solid #3a2c2b;
    padding: 10px 20px;
    background-color: #3a2c2b;
    color: #f1ebd6;
    font-size: 9px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 1rem;
}

.sendCam {
    display: flex;
    width: 20%;
    padding: 2.2rem;
    padding-left: 0rem;
    padding-right: 1rem;

    flex-direction: column;
    justify-content: space-between;
}

.send-cam-icon {
    width: 100%;
}
.send-cam-icon:hover {
    cursor: pointer;
}
.chat-box {
    height: 62.6%;
    padding: 0.5rem 0.5rem;
    display: block;
    background-color: #3a2c2b;
    overflow-y: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.chat-box::-webkit-scrollbar {
    width: 10px;
}
.chat-box::-webkit-scrollbar-thumb {
    background-color: #554645;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.chat-box::-webkit-scrollbar-track {
    background-color: #f1ebd6;
    border-radius: 10px;
}
.chat-box::-webkit-scrollbar-thumb:hover {
    background-color: #3a2c2b;
}
.startChatMsg {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    color: #f1ebd6;
}
.chat-messages {
    display: inline-flex;
    flex-direction: column;
    min-height: 60px;
    width: 80%;
    background-color: #3a2c2b;
}
.chat-messagesRight {
    display: inline-flex;
    flex-direction: column;
    float: right;
    justify-content: end;
    min-height: 60px;
    width: 100%;
    background-color: #3a2c2b;
    margin-right: 0.5rem;
}

.dateDiv {
    padding: 0;
}

.messages {
    color: white;
    margin: 10px 0;

    width: 96%;
    float: right;
    justify-content: end;
    display: inline-flex;
    position: relative;
    margin-left: 3.5%;
}

.test {
    /* width: 90%; */
    background-color: #f1ebd6;
    border-radius: 5px;
    padding: 8px;
    min-width: 17px;
    max-width: 270px;
    display: inline-block;
    text-align: left;
}
.text {
    color: #3a2c2b;
    font-size: smaller;
    width: 50%;
    word-break: break-all;
}
.messageBox {
    display: inline;

    justify-content: end;
}
.chat-input {
    display: flex;
    border-top: 4px solid #f1ebd6;
    width: 100%;
    background-color: #3a2c2b;
}
.input-text-outer {
    display: flex;
    margin: auto;
    width: 80%;
    margin: 1rem 1rem;
}
.inputText {
    height: 17vh;
    width: 100%;
    background-color: #3a2c2b;
    border: 3px solid #f1ebd6;
    border-radius: 5px;
    color: white;
    font-size: 0.9rem;
    outline: none;
}

.date {
    position: relative;
    color: gray;
    width: 70%;
    margin-right: 5px;
}
.dateDiv {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-right: 4px;
    text-align: end;
}
.dateLeftDiv {
    position: absolute;
    bottom: 0;
    padding: 0;
}

.userName {
    display: block;
    margin-bottom: 15px;
}
.messagesLeft {
    /* display: block; */
    margin: 10px;
    color: white;
    width: 95%;
    margin-left: 0.5rem;
    justify-content: start;
    display: inline-flex;
    position: relative;
    /* float: right; */
}
.chat-boxLeft {
    height: 56%;
    display: flex;
    justify-content: start;
    background-color: #3a2c2b;
    overflow-y: scroll;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.dateLeft {
    margin-left: 10px;
    position: relative;
    color: gray;
    width: 19%;
}
.chatMessage {
    cursor: pointer;
}
/* 768 이하 */
@media (max-width: 450px) {
    .chat-messages {
        width: 100%;
    }
    .inputText {
        font-size: 0.8rem;
    }
}
