/* .input-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0.75rem;
    margin: 10px;
}

.input-box label {
    font-size: 16px;
    padding: 0 0 6px;
} */
/* 
.input {
    display: flex;
    height: 48px;
    margin: 1rem 0 1rem 0;
    padding: 0.75rem;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #000000;
} */
.input_field {
    display: flex;
    height: 48px;
    margin: 0.5rem 0 0.3rem 0;
    padding: 0.75rem;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #d3c09a(0, 0, 0, 0.2);
}

.input_box {
    margin-bottom: 1.5rem;
}

.invalid {
    border-color: red;
}
