.sec-rot-container__divide {
    border: 1px solid var(--color-primary);
    /* border: 2px solid var(--color-primary-variant); */
    margin: 0.5rem 0;
}
.profileList:hover {
    background-color: var(--color-primary);
}
.head {
    text-align: center;
    background-color: #3a2c2b;
    color: white;
    /* margin-bottom: 20px; */
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 4px;
}
.rot {
    height: 100vh;
    /* background-color: #fffdfc; */
    background-color: var(--color-primary-variant);
}

.inner-rot {
    padding: 1rem;
}

/* .member {
    margin-bottom: 5px;
} */
.Line {
    display: block;
    /* height: 10px; */
    /* width: 10px; */
}

.startChatMsgList {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    color: #3a2c2b;
}

.profileList {
    display: flex;
    justify-content: center;
    margin: auto;
    cursor: pointer;
}
.inner-profile-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile_img {
    /* padding: 2rem 1rem; */
    margin: 1rem;
    background-color: white;

    /* display: inline-block; */
    /* flex: 1; */
    border-radius: 100px;
    border: 2px solid var(--color-primary);
    width: 75px;
    height: 75px;
}

.profile {
    width: 100%;
    margin: 1rem;
}
.nameDate {
    width: 100%;
    display: flex;
    /* gap: 1%; */
    justify-content: space-between;
    /* float: right; */
    margin-bottom: 0.7rem;
}
.name {
    /* text-align: center; */
    /* margin-right: 10px; */
    display: inline;
    font-weight: bold;
    font-size: 18px;
}

.Linecontainer {
    width: 95.5%;
    left: 50;
    overflow: hidden;
}

.imgmsg {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
}

.container {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    overflow: hidden; /* 내용이 넘치면 숨김 */
}

.text {
    max-width: 100%; /* 최대 너비 설정 */
    word-wrap: break-word; /* 글자가 너무 길 경우 자동 줄바꿈 */
    text-align: center;
}

.last_date {
    color: gray;
    display: grid;
    grid-template-columns: auto; /* 자동으로 열의 크기 조절 */
    /* grid-auto-rows: minmax(20px, auto); 행의 크기 최소값과 최대값 설정 */
    /* gap: 50px; 열과 행 사이의 간격 설정 */
    /* margin-left: 3%; */
    padding: 0;
}
.chat__message {
    display: flex;
    /* position: relative; */
    /* gap: 20%; */
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
    align-items: flex-end;
}
.lastMassage {
    /* text-align: left; */
    /* margin-right: 10%; */
    position: relative;
    /* float: left; */
    width: 100%;
}
.dot {
    position: relative;
    top: 0%;
    right: 4%;
    transform: translateY(-50%);
    float: right;
    background-color: red;
    border-radius: 50%; /* 50%를 주면 원 모양이 됩니다 */
}
