.head {
    text-align: center;
    background-color: #3a2c2b;
    color: white;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 4px;
}
.rot {
    height: 100vh;
    background-color: #f1ebd6;
}

/* .member {
    margin-bottom: 5px;
} */
.Line {
    display: block;
    /* height: 10px; */
    /* width: 10px; */
}
.profileList {
    display: flex;
    justify-content: left;
    cursor: pointer;
    margin-top: 12px;
    margin-bottom: 8px;
}
.profile_img {
    margin-left: 50px;
    margin-right: 100px;

    /* display: inline-block; */
    /* flex: 1; */
    border-radius: 10%;
}
/* .nameDate {
    display: inline-block;
    text-align: center;
} */

/* .date {
    display: inline-block;
} */

.profile {
    /* display: inline-block; */
    /* flex: 1; */
    width: 100%;
    /* margin-left: 200px; */
    margin-right: 20px;
    /* display: flex; */
    /* justify-content: space-between; */
    /* margin-right: 50px; */
    margin-bottom: 10px;

    /* float: right; */
    /* text-align: right; */
}
.nameDate {
    width: 100%;
    display: flex;
    /* gap: 1%; */
    justify-content: space-between;
    margin-bottom: 20px;
    /* float: right; */
}
.name {
    /* text-align: center; */
    /* margin-right: 10px; */
    display: inline;
    font-weight: bold;
    font-size: 18px;
    width: 70%;
}

.Linecontainer {
    width: 95.5%;
    left: 50;
    overflow: hidden;
}

.imgmsg {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
}

.container {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    overflow: hidden; /* 내용이 넘치면 숨김 */
}

.text {
    max-width: 100%; /* 최대 너비 설정 */
    word-wrap: break-word; /* 글자가 너무 길 경우 자동 줄바꿈 */
    text-align: center;
}

.last_date {
    margin-right: 4%;
    color: gray;
    display: grid;
    grid-template-columns: auto; /* 자동으로 열의 크기 조절 */
    /* grid-auto-rows: minmax(20px, auto); 행의 크기 최소값과 최대값 설정 */
    /* gap: 50px; 열과 행 사이의 간격 설정 */
    /* margin-left: 3%; */
    min-width: none;
}
.chat__message {
    display: flex;
    /* position: relative; */
    /* gap: 20%; */
    font-weight: 400;
    margin-top: 31px;
    justify-content: space-between;
    align-items: center;
    align-items: flex-end;
}
.lastMassage {
    /* text-align: left; */
    /* margin-right: 10%; */
    position: relative;
    /* float: left; */
}
.dot {
    position: relative;
    top: 0%;
    right: 4%;
    transform: translateY(-50%);
    float: right;
    background-color: red;
    border-radius: 50%; /* 50%를 주면 원 모양이 됩니다 */
}

/* .profile_img {
    text-align: left;
    margin-right: 20px;
}

.nameDate {
    text-align: center;
    margin-right: 20px;
 position: relative;s
} */
