/* Status cell styles */
.status-cell {
    padding: 8px 12px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    display: inline-block; /* 텍스트를 감싸도록 처리 */
}

.status-cell.확정 {
    background-color: #f59299;
    margin-top: 12px;
    color: white; /* 텍스트 색상 변경 */
}

.status-cell.완료 {
    background-color: #bdbdbd;
    margin-top: 12px;
    color: white; /* 텍스트 색상 변경 */
}
.status-cell.입찰 {
    background-color: #a6cf9c;
    margin-top: 12px;
    color: white; /* 텍스트 색상 변경 */
}
