.common-table {
    width: 80%;
    /* height: 500px; */
    margin: 0 auto;
    text-align: center;
    border-spacing: 0;
}

.common-table-header-column {
    border-bottom: 1px solid #e8e8e8;
    padding: 0;
    font-size: 16px;
    padding: 10px 5px;
    font-weight: bold;
}
.common-table-row {
    transition: background-color 0.3s, cursor 0.3s;
}
.common-table-row:hover {
    background-color: #eceaea;
    cursor: pointer;
}

.common-table-column {
    padding: 20px 5px;
    border-bottom: 1px solid #e8e8e8; /* 아래쪽 경계선 */
}
