.mover-innerbox {
    display: flex;
    flex-direction: column; /* 수직(열) 방향으로 정렬 */
    background-color: var(--color-primary-variant);
    border-radius: 1rem;
    width: 100%;
    padding: 1.5rem;
    margin: 1.5rem 0 1.5rem 0;
}
.mover-innerbox div,
h3 {
    margin: 0.1rem 0 0.1rem 0;
}

.center-vertically {
    display: flex;
    flex-direction: column;
    align-items: center; /* 가로 중앙 정렬 */
    justify-content: center; /* 세로 중앙 정렬 */
    height: 100%; /* 부모 컨테이너의 높이를 100%로 설정 */
}

.mover-innerbox-label {
    font-size: 1.2rem; /* 원하는 크기로 조정 */
    font-weight: bold;
    margin-right: 0.5rem;
}

.mover-innerbox-value {
    font-size: 1rem; /* 원하는 크기로 조정 */
}

.button-modify {
    background-color: #9b8d78;
    color: white;
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: 0px;
    border-radius: 4px;
    /* width: 30%; */
    padding: 12px;
}

.button-modify:hover {
    background-color: #3a2c2b;
}
.button-send {
    background-color: #9b8d78;
    color: white;
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: 0px;
    border-radius: 4px;
    width: 100%;
    padding: 12px;
}

.button-send:hover {
    background-color: #3a2c2b;
}

.button-delete {
    background-color: grey;
    color: white;
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: 0px;
    border-radius: 4px;
    /* width: 30%; */
    padding: 12px;
}

.button-delete:hover {
    background-color: red;
}

.mover-mypage-input {
    width: 5rem;
    height: 2rem;
    padding: 8px;
    border: 0px;
    background-color: #e9e7e7;
    border-radius: 4px;
    resize: vertical;
    font-size: 1rem;
    line-height: 1.5;
}
.mover-mypage-input-password,
.mover-mypage-input-phone {
    width: 12rem;
    height: 2rem;
    padding: 8px;
    border: 0px;
    background-color: #e9e7e7;
    border-radius: 4px;
    resize: vertical;
    font-size: 1rem;
    line-height: 1.5;
}

.mypage-detail-button-align {
    display: flex;
    flex-direction: row;
    justify-content: center; /* 수평(행) 방향으로 정렬 */
}
