/* 후기 컴포넌트 스타일링 */
.partner-mypage-review {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #f7f7f7;
}

.partner-mypage-review-header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 8px;
}

.partner-mypage-review-name {
    padding-right: 3rem;
    font-weight: bold;
}

.partner-mypage-review-rating {
    display: flex;
    align-items: center;
    color: #ffa500; /* 오렌지색 */
}

.partner-mypage-review-date {
    padding-left: 2rem;
    color: #777; /* 회색 */
    font-size: 0.8rem;
}

.partner-mypage-review-content {
    font-size: 1rem;
    line-height: 1.4;
}

.partner-mypage-review-rating-text {
    align-items: center;
}
