.mypage-detail-button-align {
    display: flex;
    flex-direction: row;
    justify-content: center; /* 수평(행) 방향으로 정렬 */
}

.button-modify {
    background-color: #9b8d78;
    color: white;
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: 0px;
    border-radius: 4px;
    /* width: 30%; */
    padding: 12px;
}

.button-modify:hover {
    background-color: #3a2c2b;
}
.button-send {
    background-color: #9b8d78;
    color: white;
    font-size: 1rem;
    border: 0px;
    border-radius: 3px;
    width: 100%;
    padding: 12px;
}

.button-send:hover {
    background-color: #3a2c2b;
}

.button-delete {
    background-color: grey;
    color: white;
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: 0px;
    border-radius: 4px;
    /* width: 30%; */
    padding: 12px;
}

.button-delete:hover {
    background-color: red;
}

.partner-outerbox {
    width: 100%;
    padding: 1.5rem;
    /* border: 5px solid black; */
    background-color: var(--color-primary-variant);
    border-radius: 1rem;
}

.partner-innerbox {
    display: flex;
    flex-direction: column; /* 수직(열) 방향으로 정렬 */
    background-color: var(--color-primary-variant);
    border-radius: 1rem;
    width: 100%;
    padding: 1.5rem;
    margin: 1.5rem 0 1.5rem 0;
    /* border: 5px solid black; */
}
.partner-innerbox div,
h3 {
    margin: 0.1rem 0 0.1rem 0;
}

.partner-innerbox-inline {
    max-width: 40%;
    display: flex;
    flex-direction: row; /* 수평(행) 방향으로 정렬 */
    justify-content: space-between;
}
.partner-innerbox-inline-pass {
    display: flex;
    flex-direction: row; /* 수평(행) 방향으로 정렬 */
}

.partner-innerbox-inline-pass div {
    margin-right: 3rem;
}

.partner-innerbox-inline-align {
    display: flex;
    flex-direction: row; /* 수평(행) 방향으로 정렬 */
    /* justify-content: space-between; */
}

.partner-innerbox-label {
    font-size: 1.2rem; /* 원하는 크기로 조정 */
    font-weight: bold;
    margin-right: 0.5rem;
}

.partner-innerbox-value {
    font-size: 1rem; /* 원하는 크기로 조정 */
}

.partner-innerbox-inline div {
    margin-right: 2rem;
}

.partner-desc {
    white-space: pre-line; /* 줄바꿈 및 공백 유지 */
    max-width: 50%; /* 요소의 최대 너비를 50%로 설정 */
    word-wrap: break-word; /* 긴 단어를 두 줄로 나누기 */
}

.partner-mypage-input {
    width: 4rem;
    height: 2rem;
    padding: 8px;
    border: 0px;
    background-color: #e9e7e7;
    border-radius: 4px;
    resize: vertical;
    font-size: 1rem;
    line-height: 1.5;
}
.partner-mypage-input-password,
.partner-mypage-input-phone {
    width: 100%;
    height: 2rem;
    padding: 8px;
    border: 0px;
    background-color: #e9e7e7;
    border-radius: 4px;
    resize: vertical;
    font-size: 1rem;
    line-height: 1.5;
}

.profile-mypage-desc {
    width: 100%;
    height: 150px;
    padding: 8px;
    border: 0px;
    background-color: #e9e7e7;
    border-radius: 4px;
    resize: none;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
}

.mypage-table {
    /* width: 100%; */
    /* display: inline; */
}
th {
    text-align: left;
    font-size: 1.2rem;
    padding-right: 10px;
}
td {
    font-size: 1rem;
    padding-right: 100px;
}
.messagebutton {
    text-align: right;
}

.partner-mypage-error {
    color: red;
}

.partner-overlab {
    height: 0;
}

.partner-innerbox-image {
    background-color: white;
    border-radius: 1rem;
    width: 100%;
    padding: 1.5rem;
    margin: 1.5rem 0 1.5rem 0;
}

.partner-profile-image {
    height: 250px;
    width: 250px;
    position: relative;
    border-radius: 250px;
    /* top: -200px; */
    z-index: 1;
    border: 2px solid #fff; /* 흰색 테두리 추가 */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* 선택적으로 그림자 효과 추가 */
}

.profile-error {
    color: red;
    text-align: start;
}

@media (min-width: 768px) {
    .partner-outerbox {
        width: 75%;
    }
}

.mypage-table-double {
    align-items: center;
}
